// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y:               0.5em !default;
$btn-padding-x:               1em !default;
$btn-font-family:             $font-family--base !default;
$btn-font-size:               $font-size--400 !default;
$btn-line-height:             $line-height--500 !default;
$btn-white-space:             null !default; // Set to `nowrap` to prevent text wrapping


$btn-color:         					$font-color--base;
$btn-bg-color:      					$gray--20;
$btn-bg-color-hover: 					$gray--30;
$btn-color-cta:           		$white;
$btn-bg-color-cta:        		$red;
$btn-bg-color-cta-hover:  		$red--500;

$btn-padding-y-sm:            0.25em !default;
$btn-padding-x-sm:            0.5em !default;
$btn-font-size-sm:            $font-size--300 !default;

$btn-border-width:            0 !default;

$btn-font-weight:             700 !default;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-width:             .2em !default;
$btn-focus-box-shadow:        0 0 0 $red $red !default;
$btn-disabled-opacity:        .65 !default;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

$btn-block-spacing-y:         .5em !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           6px !default;
$btn-border-radius-sm:        6px !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;


//
// Mixin for Button size
//
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
	padding: $padding-y $padding-x;
	font-size: $font-size;
	border-radius: $border-radius;
}


//
// Base styles
//

.btn {
	display: inline-block;
	font-family: $btn-font-family;
	font-size: $btn-font-size;
	font-weight: $btn-font-weight;
	line-height: $btn-line-height;
	color: $btn-color;
	background-color: $btn-bg-color;
	text-align: center;
	white-space: $btn-white-space;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: $btn-border-width solid transparent;
	@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
	transition: $btn-transition;

	&:hover {
		text-decoration: none;
		background-color: $btn-bg-color-hover;
	}

	&:focus {
		outline-style: none;
	}
}

.btn--cta {
	color: $btn-color-cta;
	background-color: $btn-bg-color-cta;

	&:hover {
		text-decoration: none;
		background-color: $btn-bg-color-cta-hover;
	}
}

//
//
// //
// // Button Sizes
// //
//
.btn--sm {
	@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}


//
// Block button
//
.btn--block {
	display: block;
	width: 100%;

	// Vertically space out multiple block buttons
	+ .btn--block {
		margin-top: $btn-block-spacing-y;
	}
}
