// Colors

$red--300:					#652511 !default;
$red--400:					#8e371c !default;
$red--500:					#bd4c28 !default;
$red:   						#d2552e !default;

$black:     				#000000 !default;
$gray--100:					#161616	!default;
$gray--90:					#262626	!default;
$gray--80:					#393939	!default;
$gray--70:					#525252	!default;
$gray--60:					#6f6f6f	!default;
$gray--50:					#8d8d8d	!default;
$gray--40:					#a8a8a8	!default;
$gray--30:					#c6c6c6	!default;
$gray--20:					#e0e0e0	!default;
$gray--10:					#f4f4f4	!default;
$white:							#ffffff	!default;
