$cp--bg-color: 								$gray--10;
$cp--caption-color: 					$gray--60;
$cp--border-width: 						$grid-gap-column;

$two-grid-columns-w-gap--md:	(51px + $grid-gap-column) * 2;
$two-grid-columns-w-gap--lg:	(64px + $grid-gap-column) * 2;

$cp--pos-item--padding:				0 ($grid-unit * 2);

%cp--offset {
	width: 100%;
	margin-right: -$cp--border-width;
	margin-left: -$cp--border-width;

	@media (min-width: $screen-md-min) {
		width: calc(100% + #{$two-grid-columns-w-gap--md});
		margin-left: -($cp--border-width + ($two-grid-columns-w-gap--md / 2));
	}
	@media (min-width: $screen-lg-min) {
		width: calc(100% + #{$two-grid-columns-w-gap--lg});
		margin-left: -($cp--border-width + ($two-grid-columns-w-gap--lg / 2));
	}
}

.cp--youtube-video,
.cp--image {
	box-sizing: content-box;
	border: $cp--border-width solid $cp--bg-color;
	@extend %cp--offset;
}

.cp--youtube-video__media {
	background: $cp--bg-color;
	width: 100%;
	margin-bottom: -8px; /* because there is blank space between video and caption*/

	height: 240px;

	@media (min-width: $screen-sm-min) {
		height: 350px;
	}
	@media (min-width: $screen-md-min) {
		height: 440px;
	}
	@media (min-width: $screen-lg-min) {
		height: 540px;
	}
}

.cp--image__media {
	background: $cp--bg-color;
	width: 100%;
}

.cp--youtube-video__caption,
.cp--image__caption {
	width: 100%;
	background: $cp--bg-color;
	font-weight: 500;
	font-style: italic;
	line-height: $line-height--400;
	color: $cp--caption-color;
	padding-top: $vertical-rhythm--400;
}

.cp--pos-list {
	@extend %cp--offset;
	display: grid;
	grid-template-columns: 100%;
	grid-gap: ($grid-gap-column * 2)  $grid-gap-column;
	grid-auto-flow: row;
	justify-items: stretch;
	align-items: start;
	justify-content: start;
	align-content: start;

	@media (min-width: $screen-sm-min) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@media (min-width: $screen-md-min) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}



.cp--pos-item__title {
	font-size: $font-size--500;
	font-style: italic;
	font-weight: 900;
	border-top: ($grid-unit * 2) solid $gray--20;
	padding: ($grid-unit) ($grid-unit * 2) 0;

	.cp--pos-item--primary & {
		border-top-color: $red;
	}
}

.cp--pos-item__description {
	padding: $cp--pos-item--padding;
	line-height: $line-height--500;
	color: $gray--50;

	.cp--pos-item__title ~ & {
		padding-top: $vertical-rhythm--400;
	}
}

.cp--pos-item__action {
	padding: $cp--pos-item--padding;

	.cp--pos-item__description ~ & {
		padding-top: $vertical-rhythm--400;
	}
}


.cp--pos-item__subtitle,
.cp--pos-item__address,
.cp--pos-item__map_url,
.cp--pos-item__opening-hours-title,
.cp--pos-item__opening-hours {
	padding: $cp--pos-item--padding;
	line-height: $line-height--500;
	color: $gray--50;
	white-space: pre-line;
}
.cp--pos-item__subtitle {
	font-weight: 700;
	color: $gray--70;

	.cp--pos-item__title ~ & {
		padding-top: $vertical-rhythm--400;
	}
}

.cp--pos-item__opening-hours-title {
	font-weight: 700;

	.cp--pos-item__address ~ & {
		padding-top: $vertical-rhythm--400;
	}
}

.cp--bi-poem {
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 0  $grid-gap-column;
	grid-auto-flow: row;
	justify-items: stretch;
	align-items: start;
	justify-content: start;
	align-content: start;

	@media (min-width: $screen-sm-min) {
		grid-template-columns: 1fr 1fr;
	}
}

.cp--bi-poem__title {
	margin-top: $vertical-rhythm--300;
}
