.project__content {
	padding: 0 $grid-gap-column * 1;

	@media (min-width: $screen-xs-min) {
		padding: 0 $grid-gap-column * 2;
	}

	@media (min-width: $screen-sm-min) {
		padding: 0;
		grid-column: 2 / span 12;
	}
	@media (min-width: $screen-md-min) {
		grid-column: 3 / span 10;
	}
}
