$font-size--400: 18px;
$font-size--500: 22px;
$font-size--600: 24px;
$font-size--700: 26px;
$font-size--800: 32px;
$font-size--900: 40px;

$line-height-500: 1.25em;

html {
	font-family: 'Alegreya', serif;;
	font-size: $font-size--400;
	color: $gray--80;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	background-color: $white;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

.h1 {
	font-size: $font-size--900;
	line-height: $line-height-500;
}

.h2 {
	font-size: $font-size--800;
	line-height: $line-height-500;
}

.h3 {
	font-size: $font-size--700;
	line-height: $line-height-500;
}

.h4 {
	font-size: $font-size--600;
	line-height: $line-height-500;
}
