$font-size--400: 18px;
$font-size--500: 22px;
$font-size--600: 24px;
$font-size--700: 26px;
$font-size--800: 32px;
$font-size--900: 42px;

$line-height-500: 1.25em;

html {
	font-family: 'Alegreya', serif;;
	font-size: $font-size--400;
	line-height: $line-height-500;
	color: $gray--80;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	background-color: $white;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

h1, .h1 {
	font-size: $font-size--900;
	font-weight: 900;
	font-style: italic;
	line-height: $line-height-500;
	color: $gray--80;

	& + p {
		margin-top: 1em;
	}

}

h2, .h2 {
	font-size: $font-size--800;
	line-height: $line-height-500;
	font-weight: 500;
	font-style: normal;

	& + p,
	& + dl {
		margin-top: 0.25em;
	}

	p + &,
	dl + & {
		margin-top: 1em;
	}
}

.h3 {
	font-size: $font-size--700;
	line-height: $line-height-500;
}

.h4 {
	font-size: $font-size--600;
	line-height: $line-height-500;
}

.h5 {
	font-size: $font-size--500;
	line-height: $line-height-500;
}

.h6 {
	font-size: $font-size--400;
	line-height: $line-height-500;
}

p {
	& + &,
	dl + & {
		margin-top: 0.5em;
	}
}


dl {
	display: grid;
	grid-template-columns: 4fr 8fr;
	grid-gap: 0.25em 0;
	grid-auto-flow: row;
	justify-items: start;
	align-items: start;
	justify-content: start;
	align-content: start;
}

dt {
	color: $gray--50;
}
