$font-size--400: 					18px;
$font-size--500: 					22px;
$font-size--600: 					24px;
$font-size--700: 					28px;
$font-size--800: 					32px;
$font-size--900: 					42px;

$line-height--400:		 		1.1em;
$line-height--500: 				1.25em;

$vertical-rhythm--500:		0.75em;
$vertical-rhythm--600:		1em;

html {
	font-family: 'Alegreya', serif;;
	font-size: $font-size--400;
	line-height: $line-height--500;
	color: $gray--80;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	background-color: $white;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

h1, .h1 {
	font-size: $font-size--900;
	font-weight: 900;
	font-style: italic;
	line-height: $line-height--500;
	color: $gray--80;
}

h2, .h2 {
	font-size: $font-size--800;
	line-height: $line-height--500;
	font-weight: 500;
	font-style: normal;
}

.h3 {
	font-size: $font-size--700;
	line-height: $line-height--500;
}

.h4 {
	font-size: $font-size--600;
	line-height: $line-height--500;
}

.h5 {
	font-size: $font-size--500;
	line-height: $line-height--500;
}

.h6 {
	font-size: $font-size--400;
	line-height: $line-height--500;
}



a {
	color: $red;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

dl {
	display: grid;
	grid-template-columns: 4fr 8fr;
	grid-gap: 0.5em $grid-gap-column;
	grid-auto-flow: row;
	justify-items: start;
	align-items: start;
	justify-content: start;
	align-content: start;


	&.cp--book-info {
		@media (min-width: $screen-sm-min) {
			grid-template-columns: 3fr 8fr;
		}
	}
}

dt {
	color: $gray--50;
}

dd {
	white-space: pre-line;
}


ul {
	.project__content &,
	.kontakt &,
	.article &, {
		padding-left: 0;
	}
}

li {
	.project__content &,
	.kontakt &,
	.article & {
		line-height: $line-height--500;
		list-style-position: outside;
		list-style-type: none;

		&:before {
			content: "— ";
			list-style-position: outside;
			margin-left: -20px;
			color: $gray--30;
		}
	}
}


blockquote {
	font-size: $font-size--700;
	color: $gray--70;
	font-style: italic;
	border-left: ($grid-gap-column / 2) solid $gray--20;
	padding-left: $grid-gap-column;
	margin: 1em 0;
}


// vertical rhythm
//
.project__content,
.article,
.kontakt {
		p, h1, h2, h3, figure, ul, li, blockquote, dl
	+ p, h1, h2, h3, figure, ul, li, blockquote, dl {
			margin-top: $vertical-rhythm--500;
		}

		h2, h3 {
			margin-top: $vertical-rhythm--600;
		}
}
