# 2014 Micro Blacklist from http://perishablepress.com/2014-micro-blacklist/
<IfModule mod_setenvif.c>
	Order Allow,Deny
	Allow from all
	Deny from 123.151.39.
	Deny from 77.172.210.
	Deny from 174.94.131.
	Deny from 89.238.137.59
	Deny from 212.90.148.101
	Deny from 91.207.61.129
	Deny from 202.46.52.120
	Deny from 128.73.60.194
	Deny from 68.108.17.141
	Deny from 27.54.93.178
	Deny from 194.9.94.213
	Deny from 122.166.169.127
	Deny from 96.9.163.49
	Deny from 54.229.73.40
	Deny from 203.109.158.201
	Deny from 46.105.113.8
	Deny from 183.60.244.
	Deny from 54.232.102.193
	Deny from 195.157.124.186
	Deny from 118.39.113.219
	Deny from 27.255.56.87
	Deny from 69.161.138.1
	Deny from 192.96.204.42
	Deny from 178.63.52.200
	Deny from 27.252.92.103
	Deny from 37.59.65.58
	Deny from 186.202.126.94
	Deny from 186.213.72.146
	Deny from 186.219.44.6
</IfModule>
<IfModule mod_rewrite.c>
	RewriteCond %{HTTP_HOST} (.*)\.crimea\.com [NC,OR]
	RewriteCond %{HTTP_HOST} s368\.loopia\.se [NC,OR]
	RewriteCond %{HTTP_HOST} kanagawa\.ocn [NC,OR]
	RewriteCond %{HTTP_HOST} g00g1e [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} (ia_archiver|g00g1e|seekerspider|siclab|spam|sqlmap) [NC]
	RewriteRule .* - [F,L]
</IfModule>
<IfModule mod_alias.c>
	RedirectMatch 403 router\.php
	RedirectMatch 403 /\)\.html\(
</IfModule>
<IfModule mod_rewrite.c>
	RewriteCond %{QUERY_STRING} http\:\/\/www\.google\.com\/humans\.txt\? [NC]
	RewriteRule .* - [F,L]
</IfModule>

#Referer spam
<IfModule mod_rewrite.c>
	RewriteCond %{HTTP_REFERER} ^http://.*semalt\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*buttons-for-website\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*blackhatworth\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*7makemoneyonline\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*ilovevitaly\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*ilovevitaly\.co/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*ilovevitaly\.ru/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*iloveitaly\.ro/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*priceg\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*prodvigator\.ua/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*resellerclub\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*savetubevideo\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*screentoolkit\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*kambasoft\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*socialseet\.ru/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*superiends\.org/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*vodkoved\.ru/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*o-o-8-o-o\.ru/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*iskalko\.ru/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*luxup\.ru/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*myftpupload\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*websocial\.me/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*ykecwqlixx\.ru/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*slftsdybbg\.ru/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*seoexperimenty\.ru/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*econom\.co/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*edakgfvwql\.ru/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*adcash\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*adviceforum\.info/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*hulfingtonpost\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*europages\.com\.ru/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*gobongo\.info/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*cenoval\.ru/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*cityadspix\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*cenokos\.ru/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*ranksonic\.info/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*lomb\.co/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*lumb\.co/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*econom\.co/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*srecorder\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*see-your-website-here\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*76brighton\.co\.uk/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*paparazzistudios\.com\.au/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*powitania\.pl/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*sharebutton\.net/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*tasteidea\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*descargar-musica-gratis\.net/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*torontoplumbinggroup\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*floating-share-buttons\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*free-social-buttons\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*event-tracking\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*free-share-buttons\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*free-floating-buttons\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*get-free-social-traffic\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*free-social-buttons\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*simple-share-buttons\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*get-free-traffic-now\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*qualitymarketzone\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*chinese-amezon\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*guardlink\.org/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*youporn-forum\.ga/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*buy-cheap-online\.info/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*hongfanji\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*e-buyeasy\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*erot\.co/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*theguardlan\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*vi-view\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*safehomepage\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*excite\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*realprodata\.com/ [NC,OR]
	RewriteCond %{HTTP_REFERER} ^http://.*darodar\.com/ [NC]
	RewriteRule ^(.*)$ – [F,L]
</IfModule>


#Referer spam
<FilesMatch "\from=http">
		order allow,deny
		deny from all
</FilesMatch>
